.navigation{
    width: 80vh;
}
.navbar {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 1vh;
    margin-top: 0;
}

.navlinks{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 1vh;
    align-items: center;
    font-size: 3vh;
        /* margin-top: 0; */

}

.navbar-link {
    display: flex;
    margin: 1.2vh;
    align-items: center;
}

.right-navbar{
    display: flex;
    flex-direction: reverse-row;
}

.left-navbar{
    display: flex;
    flex-direction: row;
}

.home{
    display: flex;
    flex: 1;
    justify-content: center;
}

.wall {
    display: flex;
    flex-direction: column;
    
    width: 76vh;
    min-height: 90vh;

    align-items: center;
    
    border-style: solid;
    border-width: 1px; 
    border-color: rgb(139, 139, 139);
    border-radius: 5px;

    font-size: 2vh;
    background-color: #ffffffff;
}

.login_signup {
    display: flex;
    flex-direction: row;
}

.welcome_decoration{
    display: flex;
    width: 50%;
    height: 100vh;
    background-color: #268C4F;
    flex-direction: column;
    align-items: flex-end;
}

.welcome_decoration img {
    max-height: 100%;
    display: flex;
    width: auto;
    max-width: 100%;
    /* align-self: flex-start; */
 }


 .meal_plan{
    margin-bottom: 35vh;
 }

 .recipe{
    display: flex;
    align-self: center;
    width: 80vh;
    justify-content: center;
 }


 .cart{
    display: flex;
    flex-direction: column;
    
    width: 76vh;
    min-height: 70vh;
    align-self: center;
    align-items: center;
    
    border-style: solid;
    border-width: 1px; 
    border-color: rgb(139, 139, 139);
    border-radius: 5px;

    font-size: 2vh;
    background-color: #ffffffff;
 }

.profile{
    display: flex;
    width: 80vh;
    flex-direction: column;
    align-self: center;
}

.profile_header{
    display: flex;
    color: #268C4F;
    font-weight: bold;
    font-size: 3vh;
    /* margin-left: 13vh; */
    margin-bottom: 4vh;
    text-align: left;
    justify-content: space-between;
    flex-direction: row;
}

.profile_title{
    display: flex;
    width: auto;
}

.profile_content{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.profile_dashboard{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-top: 5vh;
}

.profile_content_information{
    width: 100%;
    background-color: white;
    border-style: solid;
    border-width: 1px; 
    border-color: rgb(139, 139, 139);
    border-radius: 5px;
    min-height: 50vh;
}

.profile_button{
    display: flex;
    width: 100%;

    font-size: 2vh;
    color: #268C4F;
    font-weight: bold;
    text-align: left;

    padding: 1vh;
    background-color: transparent;
    border-radius: 0px;
    border: 0px;
}

.scene-icon{
    display: block;
    max-width:5vh;
    max-height:7vh;
    width: auto;
    height: auto;
    }
    
.scene-icon{
    width: 7vh;
}