.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 4vh;
}

.navbar-link {
    margin: 2vh;
}

.right-navbar{
    display: flex;
    flex-direction: reverse-row;
}

.left-navbar{
    display: flex;
    flex-direction: row;
}

.home{
    display: flex;
    flex: 1;
    justify-content: center;
}

.wall {
    display: flex;
    flex-direction: column;
    
    width: 70vh;
    min-height: 90vh;

    align-items: center;
    
    border-style: solid;
    border-width: 1px; 
    border-color: rgb(139, 139, 139);
    border-radius: 5px;

    font-size: 2.5vh;
    background-color: #ffffffff;
}

.login_signup {
    display: flex;
    flex-direction: row;
}

.welcome_decoration{
    display: flex;
    width: 50%;
    height: 100vh;
    background-color: rgb(85, 105, 47);
    flex-direction: column;
    align-items: flex-end;
}

.welcome_decoration img {
    max-height: 100%;
    display: flex;
    width: auto;
    max-width: 100%;
    /* align-self: flex-start; */
 }


 .meal_plan{
    margin-bottom: 35vh;
 }

 .recipe{
    display: flex;
    align-self: center;
    width: 70vh;
    justify-content: center;
 }
