/* Cross-app css */
.input_field{
    display: flex;
    font-size: 2.5vh;
    padding: 1vh;
    border-radius: 7px;
}

.button{
    display: flex;
    font-size: 2.5vh;
    padding: 1vh;
    border-radius: 7px; 
    background-color: rgb(85, 105, 47);
    color: white;
}

.list_of_posts{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Post Component */
.new_post_form{
    display: flex;
    width: 100%;
}

.post_input{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.post_input_field{
    display: flex;
    flex: 1;
    height: 10vh;    
    font-size: 2.5vh;
    padding: 2vh;
    border-radius: 7px;
}


.post_input_field_button{
    display: table-cell;
    vertical-align: middle;
    height: auto;
    width: 94%;
    font-size: 2.5vh;
    border-radius: 5px; 
}

.comment_input_field_button{
    display: table-cell;
    vertical-align: middle;
    height: auto;
    width: 94%;
    font-size: 2.5vh;
    border-radius: 5px; 
    background-color: gray;
}

.char_counter{
    display: flex;
    padding-left: 2.5vh;
    width: 70%;
    height: 4vh;
    font-size: 1.5vh;
}

.post{
    display: flex;
    flex-direction: column;
    padding-left: 2vh;
    padding-right: 2vh;
    align-items: center;
    object-fit: contain;
}

.post_content{
    display: flex;
    width: 90%;
    min-height: 4vh;
    justify-content: center;
    text-align: justify;
    padding: 2vh;
    border-width: 1px;
    border-top-style: solid;
    border-color: rgb(139, 139, 139);
    color: rgb(85, 105, 47);
}

.post_control_panel{
    display: flex;
    padding: 2vh;
    flex-direction: row;
    justify-content: space-between;
}

.control_panel_button{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 25%;
    font-size: 1.5vh;
    font-weight: bold;
    align-items: center;
    padding-left: 4vh;
    padding-right: 4vh;
}

.post_social_counter{
    margin: 1vh;
}

.comment{
    display: flex;
    width: 73%;
    margin-left: 4vh;
    padding-left: 10vh;
    border-width: 1px;
    border-left-style: solid;
    border-color: rgb(139, 139, 139);
    border-top-style: none;
}


/* CSS for Login & Signup component */
.login_signup_form {
    display: flex;
    flex-direction: column;
    padding-top: 30vh;
    padding-left: 10vh;
    width: 50%;
    height: 100%;
}

.welcome_sentence{
    /* display: flex; */
    margin-bottom: 5vh;
    font-size: 2.5vh;
    color: rgb(85, 105, 47); 
    font-weight: bold;
    text-align: left;
}

.link_to_login_signup{
    color: black;
    font-size: 2vh;
}

/* CSS for Recipe cards */
.recipe_card{
    width: 30vh;
    height: 25vh;
    border: 0.3vh;
    border-color:  rgb(85, 105, 47) ;
    border-style: solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2vh;
    margin: 5vh;
}
.recipe_card_header{
    display: flex;
    align-items: stretch;
}

.recipe_card_title{
    color: rgb(85, 105, 47);
    font-weight: bold;
    font-size: 2vh;
    text-align: left;

}

.add_to_meal_plan_button{
    display: flex;
    border: rgb(85, 105, 47);
    border-style: solid ;
    border-width: 0.2vh ;
    border-radius: 0.7vh;
    max-width: 10vh;
    max-height: 6vh;
    padding: 0.5vh;
    margin: 0.5vh;
    font-style: oblique;
    font-size: 1.5vh;
    /* This is to center the text in the button */
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.meal_plan_controls{
    display: flex;
    max-width: 20%;
}

.icon{
    display: flex;
    max-width: 100%;
}

.edit_recipe{
    margin: 0.5vh;
}

.remove_recipe{
    margin: 0.5vh;
}

.recipe_card_information{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 25%;
}

.recipe_card_information_element{
    display: flex;
    width: 10vh;
    align-self: flex-end;
    /* This is for the people counter as it is composed of other divs */
    justify-content: flex-end;
    /* This is for the calories and time as it is just text */
    text-align: right;
    justify-content: space-between;
    margin: 0.5%;
    font-size: 1.7vh;
}

.recipe_card_data{
    display: flex;
}

.recipe_feed_count{
    display: flex;
    justify-content: space-around;
}


.feed_count_controls{
    max-width: 40%;
}

.minus{
    max-width: 40%;
}

.plus{
    max-width: 40%;
}

.cooking_time{
    display: flex;
}

.person{
    max-width: 20%;
    align-self: flex-start;
}

.stopwatch{
    max-width: 25%;
    align-self: flex-start;
}

.calories_count{
    display: flex;
}

.calories{
    max-width: 30%;
    justify-content: flex-start;
}