/* Cross-app css */
.input_field{
    display: flex;
    font-size: 2vh;
    padding: 1vh;
    border-radius: 7px;
}

.button{
    display: flex;
    font-size: 2.5vh;
    padding: 1vh;
    border-radius: 7px; 
    background-color: #268C4F;
    color: white;
}

.list_of_posts{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Post Component */
.new_post_form{
    display: flex;
    width: 100%;
}

.post_input{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.post_input_field{
    display: flex;
    flex: 1;
    height: 10vh;    
    font-size: 2.5vh;
    padding: 2vh;
    border-radius: 7px;
}


.post_input_field_button{
    display: table-cell;
    vertical-align: middle;
    height: auto;
    width: 94%;
    font-size: 2.5vh;
    border-radius: 5px; 
}

.comment_input_field_button{
    display: table-cell;
    vertical-align: middle;
    height: auto;
    width: 94%;
    font-size: 2.5vh;
    border-radius: 5px; 
    background-color: gray;
}

.char_counter{
    display: flex;
    padding-left: 2.5vh;
    width: 70%;
    height: 4vh;
    font-size: 1.5vh;
}

.post{
    display: flex;
    flex-direction: column;
    padding-left: 2vh;
    padding-right: 2vh;
    align-items: center;
    object-fit: contain;
}

.post_content{
    display: flex;
    width: 90%;
    min-height: 4vh;
    justify-content: center;
    text-align: justify;
    padding: 2vh;
    border-width: 1px;
    border-top-style: solid;
    border-color: rgb(139, 139, 139);
    color: #268C4F;
}

.post_control_panel{
    display: flex;
    padding: 2vh;
    flex-direction: row;
    justify-content: space-between;
}

.control_panel_button{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 25%;
    font-size: 1.5vh;
    font-weight: bold;
    align-items: center;
    padding-left: 4vh;
    padding-right: 4vh;
}

.post_social_counter{
    margin: 1vh;
}

.comment{
    display: flex;
    width: 73%;
    margin-left: 4vh;
    padding-left: 10vh;
    border-width: 1px;
    border-left-style: solid;
    border-color: rgb(139, 139, 139);
    border-top-style: none;
}


/* CSS for Login & Signup component */
.login_signup_form {
    display: flex;
    flex-direction: column;
    padding-top: 30vh;
    padding-left: 10vh;
    width: 50%;
    height: 100%;
}

.welcome_sentence{
    /* display: flex; */
    margin-bottom: 5vh;
    font-size: 2.5vh;
    color: #268C4F; 
    font-weight: bold;
    text-align: left;
}

.link_to_login_signup{
    color: black;
    font-size: 2vh;
}

/* CSS for Recipe cards */
.recipe_card{
    /* display: flex;
    flex-direction: row; */
    width: 30vh;
    height: 25vh;
    border: 0.3vh;
    border-color:  #268C4F ;
    border-style: solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2vh;
    margin: 2vh;
    background-color: white;
}
.recipe_card_header{
    display: flex;
    align-items: stretch;
    width: 100%;
    justify-content: space-between;
    font-weight: bold;
}

.recipe_card_title{
    color: #268C4F;
    font-size: 2vh;
    text-align: left;
    font-weight: bold;

}

.alt_button{
    background-color: white;
    display: flex;
    border: #268C4F;
    border-style: solid ;
    border-width: 0.2vh ;
    border-radius: 0.7vh;
    padding: 0.5vh;
    margin: 0.5vh;
    font-size: 1.5vh;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #268C4F;
    font-weight: bold;
}

.recipe_card_button{
    width: 9vh;
    height: 5vh;
}

.meal_plan_controls{
    display: flex;
    max-width: 20%;
}

.icon{
    display: flex;
    /* max-width: 100%; */
    width: 2vh;
}


.day_arrow{
    width: 4vh;
    height: 4vh;
}

.arrow{
    width: 3vh;
}

.edit_recipe{
    margin: 0.5vh;
}

.remove_recipe{
    margin: 0.5vh;
}

.recipe_card_information{
    margin-top: 25%;
}

.recipe_card_information_element{
    display: flex;
    width: 10vh;
    align-self: flex-end;
    /* This is for the people counter as it is composed of other divs */
    /* justify-content: flex-end; */
    /* This is for the calories and time as it is just text */
    text-align: right;
    justify-content: space-between;
    margin: 0.5%;
    font-size: 2vh;
}

.recipe_card_data{
    display: flex;
}

.recipe_feed_count{
    display: flex;
    justify-content: space-around;
}


.feed_count_controls{
    max-width: 40%;
}

.minus{
    max-width: 2vh;
}

.plus{
    max-width: 2vh;
}

.cooking_time{
    display: flex;
}

.person{
    max-width: 20%;
    align-self: flex-start;
}

.stopwatch{
    max-width: 25%;
    align-self: flex-start;
}

.calories_count{
    display: flex;
}

.calories{
    max-width: 30%;
    justify-content: flex-start;
}

/* CSS for the MealPlan */
.plan{
    display: flex;
    flex-direction: column;
    align-items: center;
    --scene-width: 80vh;
}

.mealplan_header{
    display: flex;
    margin-top: 5vh;
    width: var(--scene-width);
    justify-content: space-between;
}

.mealplan_title{
    font-size: 3vh;
    color: #268C4F;
    font-weight: bold;
}


.day{
    display: flex;
    min-height: 10vh;
    width: var(--scene-width);
    background-color: lightgray;
    margin: 3vh;
    padding: 2vh;
    padding-left: 3vh;
    border-radius: 1vh;
    /* align-items: center; */

    flex-direction: column;
    align-items: flex-start;
    /* justify-content: flex-start; */
    
    font-size: 2vh;    
}

.day_header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    font-weight: bold;
}

.day_expansion_area{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.day_title{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-left: 2vh;
}

.meals{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.meal{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 2vh 0 2vh;

    /* border-style: solid; */
    /* border-color: #268C4F; */
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1vh;
    
}

.meal_recipes{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    flex-flow: wrap;
}

.meal_title{
    font-size : 2vh;
    display: flex;
    justify-content: flex-start;
    margin-top: 2vh;
    margin-left: 2vh;
    font-weight: bold;
}

/* CSS for DayControlPAnel */
.day_control_panel{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.controls{
    display: flex;
    flex-direction: row;
}

/* CSS for Suggestions  */
.suggestions{
    width: var(--scene-width);
    background-color: white;
    padding: 0 0 2vh 0 ;
    bottom:0;
    position:fixed;
    z-index:150;
    border-radius: 1.5vh 1.5vh 0 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.recipe_suggestions{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.expanded{
    height: 35vh;
}


.collapsed{
    height: 3vh;
}

.suggestion_title{
    display: flex;
    justify-content: space-between;
    margin: 2vh 2vh  0 2vh;
    font-size : 2vh;
    font-weight: bold;
    color: #268C4F ;
}

/* CSS for the searchbar */

.search_bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 7vh;
}

.inputField{
    display: flex;
    align-self: center;
    justify-self: center;
    /* position: relative; */
    /* width: auto; */
    /* float: initial; */
    height: 3vh;
    font-size: 2vh;
}

.search_results{
    border-style: solid;
    border-color:  grey;
    background-color: white;
    /* position: absolute; */
    z-index: 150;
    font-size: 2vh;
    text-align: left;
    padding: 0 2vh 0 2vh;
    margin: auto;
    width: auto;
    position:absolute;
    top: 7vh;
    width: 26vh;
    overflow-y: auto;
    max-height: 40vh;
}

.search_result:hover{
    background-color: lightgray;
}

.search_button{
    display: flex;
    height: 4vh;
    text-align: center;
    padding: 0vh 1vh 0vh 1vh;
}

/* CSS for the quick add to mealplan window */

.add_to_mealplan_blackground{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.5);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 0;
}

.add_to_mealplan_window{
    width: 70vh;
    height: 40vh;
    
    background-color: rgba(256,256,256);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 0;
}

.add_to_mealplan_button{
    width: 10vh;
    height: 5vh;
    font-size: 2vh;
    align-items: center;
    justify-content: center;
}

.addRecipeToMealPlanDashboard{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.add_button{
    background-color: #268C4F;
    color: white;
}

.add_to_mealplan_form{
    display: flex;
    flex-direction: column;
    font-size: 2vh;
    width: 48%;
}

.add_to_mealplan_input{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.add_to_mealplan_buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.add_to_mealplan_input_field{
    font-size: 2vh;
}

/* CSS for the Carousel */
.carousel{
    display: flex;
    justify-content: center;
}

.carouselItem{
    margin: auto;   
}

.arrow_icon{
    display: flex;
    /* max-width: 100%; */
    width: 7vh;
    margin: auto;
    margin-left: 0;
    margin-right:0;
}

/* CSS for category */

.category_title{
    display: flex;
    margin-left: 9vh;
    font-size: 3vh;
    font-weight: bold;
    /* align-self: left; */
}

.category{
    padding: 2vh;
    margin-bottom: 10vh;
    border-bottom: grey;
}

/* CSS for RecipePresentation */
.recipe_title{
    display: flex;
    flex-direction: column;
    font-size: 3vh;
    font-weight: bold;
    color: #268C4F ;   
    margin-left: 2vh;
    justify-content: space-between;
    text-align: left;
    padding-right: 1.5vh;
}

.recipe_presentation{
    width: 100%;
    border-style: solid;
    border-width: 1px; 
    border-color: rgb(139, 139, 139);
    border-radius: 5px;
    padding: 2vh;
    font-size: 2vh;
    background-color: #ffffffff;
}
.recipe_presentation_header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: top;
    margin-bottom: 5vh;
}

.recipe_presentation_body{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: top;
    width: 100%;
    height: auto;
    font-size: 2vh;
    /* font-family: ; */
}

.information{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: bold;
    align-self: flex-end;
}

.recipe_information{
    padding-top: 1.5vh;
    padding-right: 1.7vh;
}

.recipe_ingredients{
    width: 40%;
    /* height: 20vh; */
    min-height: 25vh;
    margin: 1vh;
    text-align: left;
    background-color: lightgrey;
    border-radius: 5px;
}

.ingredient{
    margin: 1vh;
}

.recipe_instructions{
    /* display: flex; */
    width: 60%;
    height: auto;
    min-height: 25vh;
    /* border-color:  #268C4F ;
    border-style: solid; */
    /* margin: 2vh; */
    text-align: justify;
}

.groceries_title{
    text-align: left;
    margin: 2vh;
    color: #268C4F;
    width: 100%;
    padding-left: 5vh;
    font-size: 3vh;
    font-weight: bold;
}

.groceries_list_text{
    margin: 2vh;
}

.groceries_list{
    display: flex;
    flex-direction: column;
    font-size: 2vh;
    
    width: 100%;
    max-width: 100%;

    text-align: left;
    margin-bottom: 5vh;
    
    /* align-items: center;
    justify-content: center; */
}

.ingredient_checkbox{
    margin:1vh;
    padding-left: 2vh;
    /* margin-right: 2vh; */
}

.ingredient_label{
    /* padding-left: 2vh; */
    margin-left: 2vh;
}

.checkbox{
    transform: scale(1.8)
}

.mealplan_name{
    margin-right: 2vh;
    font-weight: bold;
}

/* CSS for Profileinformation */
.profile_information_header{
    font-size: 3vh;
    font-weight: bold;
    color: #268C4F ;   
}


/* CSS for UsrSettings */
.user_settings_form{
    display: flex;
    font-size: 2vh;
    margin: 2vh;
    align-items: flex-start;
    flex-direction: column;
}

.user_settings_inputs{
    margin-left: 2vh;
    font-size: 2vh;
    /* font-size: 3vh; */
}

.user_settings_form_input{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1.5vh;
    justify-content: space-between;
}

.user_settings_submit_panel{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CSS for DietAndAllergies */
.diet_and_allergies{
    font-size: 2vh;
    text-align: left;
    margin: 3vh;
}

.dietary_item{
    margin-bottom: 1vh;
    /* font-weight: bold; */
}

/* CSS for MyMealplans */

.my_mealplan{
    display: flex;
    flex-direction: column;
}

.previousMealplan{
    display: flex;
    border: 0;
    background-color: white;
    padding: 1vh;
    min-height: 2vh;
    border-radius: 1vh;
    border: solid;
    border-color: #268C4F;

    margin: 1vh;
    /* padding: 2vh; */
    /* padding-left: 3vh; */
    /* align-items: center; */

    flex-direction: column;
    align-items: flex-start;
    /* justify-content: flex-start; */
    
    font-size: 2vh;    
}



.mealplan_summary{
    width: 100%;
}

.mealplan_summary_name{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    text-align: left;
    font-weight: bold;
    color: #268C4F
}

.mealplan_summary_day{
    display: flex;
    border: 0;
    background-color: lightgray;
    padding: 1vh;
    min-height: 2vh;
    border-radius: 1vh;

    width:90%;
    /* width: var(--scene-width); */
    margin: 1vh;
    /* padding: 2vh; */
    /* padding-left: 3vh; */
    /* align-items: center; */

    flex-direction: column;
    align-items: flex-start;
    /* justify-content: flex-start; */
    
    font-size: 2vh;    
    font-weight: bold;
}

.mealplan_summary_meal{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1vh 0 1vh;
    /* border-style: solid; */
    /* border-color: #268C4F; */
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1vh;
    text-align: left;
    padding: 1vh 0 1vh 1vh;;
}

.mealplan_summary_recipe{
    border: 0.2vh;
    border-color:  #268C4F ;
    border-style: solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2vh;
    margin: 1vh;
    background-color: white;
  
}

/* CSS for Blog Posts List */
.blog_posts_list{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}

.blog_post_link{
    text-decoration: none;
    color: #268C4F;
}

.blog_post_information{
    justify-items: flex-start;
    text-align: left;
}

/* CSS for Blog Posts Presentation */
.blog_post{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    text-align: left;
}

.blog_post_title{
    color: #268C4F
}

.blog_post_summary{
    font-style: italic;
}

